.backGround{
    -fx-background-image: url('img/postbox.jpg');
    -fx-background-size: 400 640;
}


#signUpPage{
    -fx-background-color: #2d4567;
}

.loginPopUp{
    -fx-background-color: #595959;
}

/*
회원가입페이지 라벨
 */
.sLabel{
    -fx-text-fill: #ffffff;
}
